<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/lib/vue/vue.min.js" charset="utf-8"></script>
    <script src="/lib/vue/vue-router.js" charset="utf-8"></script>
    <script src="/lib/vue/vue-resource.min.js" charset="utf-8"></script>
    <script src="/lib/element-ui/index.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/lib/element-ui/index.css">    
    <script src="/lib/base.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/lib/base.css">   
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>
<body>
    <div id="app"></div>    
</body>
</html>