/*定义灰色背景的背景色，边框色，字体色*/
$header-back:#2d8cf0;

$footer-back:#3f464e;

$page-back: #f9f9f9;

$aside-back: #f5f5f5;

$main-back: #FFF;
$main-border: #e3e3e3;

$text-gray: #666;

$header-higher: 60px;
$footer-higher: 60px;